.home{
    
    width: 100%;
    height: auto

}


.home_title{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  
}
#prevButton{
    left: 0px;
}
#nextButton{
    right: 0px;
   
}
.home_title__btn{
    display: none ;
    position: absolute;
    width: 200px;
    /* z-index: 1; */
    display: block;
    top:0px;
    /* background-color: black; */
    height: 99%;
    background:none;
    border: none;
}
.home_title__btn ion-icon{
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.home_title:hover .home_title__btn  ion-icon {
    display: inline-block; 
    opacity: 1;
    transform: translateY(0);
}
.home_title img{
   width: 100%;
}

