.home{
    
    width: 100%;
    height: auto

}


.home_title{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  
}
#prevButton{
    left: 0px;
}
#nextButton{
    right: 0px;
   
}
.home_title__btn{
    display: none ;
    position: absolute;
    width: 200px;
    /* z-index: 1; */
    display: block;
    top:0px;
    /* background-color: black; */
    height: 99%;
    background:none;
    border: none;
}
.home_title__btn ion-icon{
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.home_title:hover .home_title__btn  ion-icon {
    display: inline-block; 
    opacity: 1;
    transform: translateY(0);
}
.home_title img{
   width: 100%;
}
  /*sestionconten*/
  .section_container{
    margin-bottom: 100px;
  }
.section_container_title{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;    
}
.section_container_title span::after{
    content: "";
    display: table;
    clear: both;
    background: url('./../../fonts/img/title-divide-1.png');
    width: 100%;
    height: 28px; 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom; 
    padding-top: 30px;
}
.section_container_title span{
    font-size: 35px;
    font-weight: 600;
}

.section_container_conten ul{
    width: 100%;
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section_container_conten ul li{
   width: 20%;
}

.section_container_conten-1-img{
    width: 100%;
    border-top-right-radius: 10px;
  border-top-left-radius: 10px;
    overflow: hidden;
   
}
.section_container_conten-1 img{
 
  transition: transform 0.5s;
 
  
}
.section_container_conten-1 img:hover{
    transform: scale(1.1);

   
}
.section_container_conten-1-title{
    margin-top:-2px ;
    width: 100%;
    padding: 13px 10px;
    background-color: #4c9a31;
}
.section_container_conten-1-title h3{
    color: white;
    display: flex;
    justify-content: center;
}
.section_container_conten-1-conten{
    background:white ;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #00000012;
    font-size: 15px;
    padding: 20px 10px 25px 10px;
    text-align: center;
}

/*----------------reguster------------------------------*/


.section_register{
    width: 100%;
    height: 150px;
    background-color:#509a33 ;
    
}
.section_register-conten{
    color: white;
    height: 100%;
    margin: 1px auto;
    display: flex;
    width: 85%;
    justify-content:center;
    align-items: center;
}
.section_register-conten--title{
    width: 60%;
}
.section_register-conten--input{
    width: 40%;
}
.section_register-conten--title h3 {
    font-size: 30px;
    margin-bottom:20px;
    
}
.section_register-conten--input input{
    border: none;
    outline: none;
    height: 50px;
    border-radius: 99px;
    width: 70%;
    padding: 0px 20px;

}
.section_register-conten--input button{
    height: 50px;
    width: 25%;
    border: none;
    border-radius: 25px;
    background-color: #a2e011;
}
.section_register-conten--input button:hover{
   
    border: 1px solid #a2e011;  
   
    background-color: #709f01;
}
.section_register-conten--input span{
    opacity: 0;
}
.section_Hotproducts{
    width: 80%;
    margin: 20px auto;
}
.section_Hotproducts_content ul {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
.section_Hotproducts_content ul li{
    width: 25%;
    height: 200px;
    border: 1px solid #000;
  
   
    max-width: 25%;
    padding: 10px;
    box-sizing: border-box; 
    padding: 10px;

}