.home{
    
    width: 100%;
    height: auto

}


.home_title{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  
}
#prevButton{
    left: 0px;
}
#nextButton{
    right: 0px;
   
}
.home_title__btn{
    display: none ;
    position: absolute;
    width: 200px;
    display: block;
    top:0px;
    height: 99%;
    background:none;
    border: none;
}
.home_title__btn ion-icon{
    width: 30px;
    height: 30px;
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.home_title:hover .home_title__btn  ion-icon {
    display: inline-block; 
    opacity: 1;
    transform: translateY(0);
}
.home_title img{
   width: 100%;
}
  .section_container{
    margin-bottom: 100px;
  }
.section_container_title{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;    
}
.section_container_title span::after{
    content: "";
    display: table;
    clear: both;
    background: url('./../../fonts/img/title-divide-1.png');
    width: 100%;
    height: 28px; 
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom; 
    padding-top: 30px;
}
.section_container_title span{
    font-size: 35px;
    font-weight: 600;
}

.section_container_conten ul{
    width: 100%;
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.section_container_conten ul li{
   width: 22%;
   /* max-height: 600px; */
   margin-bottom: 20px;
}

.section_container_conten-1-img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
   
}
.section_container_conten-1 img{
 
    transition: transform 0.5s ease;
    object-fit: cover;
  
}
.section_container_conten-1 img:hover{
    transform: scale(1.1);

   
}
.section_container_conten-1-title{

    width: 100%;
    padding: 13px 10px;
    background-color: #4c9a31;
}
.section_container_conten-1-title h3{
    color: white;
    display: flex;
    font-size:17px;
    justify-content: center;
}
.section_container_conten-1-conten{
    background:white ;
    border-radius: 10px;
    box-shadow: 2px 2px 20px #00000012;
    font-size: 15px;
    padding: 20px 10px 25px 10px;
    text-align: center;
}

/*----------------reguster------------------------------*/


.section_register{
    width: 100%;

    background-color:#509a33 ;
    
}
.section_register-conten{
    color: white;

    margin: 1px auto;
    display: flex;
    width: 85%;
    justify-content:center;
    align-items: center;
}
.section_register-conten--title{
    width: 50%;
    
}
.section_register-conten--input{
    margin-top: 40px;
    width: 50%;
}
.section_register-conten--title h3 {
    font-size: 30px;
    margin-bottom:20px;
}
.section_register-conten--input input{
    border: none;
    outline: none;
    height: 50px;
    border-radius: 99px;
    width: 70%;
    padding: 0px 20px;

}
.section_register-conten--input button{
    height: 50px;
    width: 25%;
    border: none;
    border-radius: 25px;
    background-color: #a2e011;
}
.section_register-conten--input button:hover{
   
    border: 1px solid #a2e011;  
   
    background-color: #709f01;
}
.section_register-conten--input span{
    opacity: 0;
    font-size: 14px;
    border-radius: 25px;
    padding: 10px ;

}
#false{
    border: 1px solid #e03011;
    
}

#true{
    border: 1px solid #a2e011;
    
}
.span{
    margin-top: 35px;
}

.section_Hotproducts{
    width: 100%;
    /* background-color: #a2e011; */
    margin: 20px auto;
}
.section_Hotproducts_content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center; 
    align-items: center; 
}
.section_Hotproducts_content ul li{
    overflow: hidden;   
    width: 22%;
    max-height: 520px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: 10px ;
    max-width: 25%; 
    padding: 10px;
    box-sizing: border-box; 
    padding: 10px;
    box-shadow: 4px 4px 15px #00000012;

}

.section_Hotproducts_content-img img{
    max-height: 100%;
    min-height: 300px;
    transition: transform 0.5s ease ;
    object-fit: cover;
}
.section_Hotproducts_content-img img:hover{
    transform: scale(1.1);
}
.section_Hotproducts_content-img{
    height: 300px;
    overflow: hidden;
    position: relative;

}


.section_Hotproducts_content-title p {
    text-align: center;
    margin: 20px;
    font-size: 17px;
    color: #000;
    font-weight: 600;

}

.section_Hotproducts_content-price p{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #4c9a31;
}
.section_Hotproducts_content-add{
    text-align: center; 
    margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_Hotproducts_content-add button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 250px;
    border-radius: 35px;
    font-size: 17px;
    color: white;
    border: 0px none  #4c9a31;
    font-weight: normal;
    background-image: linear-gradient(45deg, #197c36, #2d920a);
    transition: background-color 0.3s, color 0.3s;
}
.section_Hotproducts_content-add ion-icon{
    opacity: 0; 
    transform: translateX(3px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.section_Hotproducts_content-add button span{
    transform: translateX(0px);
    
    transition:  transform 0.3s ease;
}
.section_Hotproducts_content-add button:hover span{
    transform: translateX(-10px);
    transition:  transform 0.3s ease;
    
}
.section_Hotproducts_content-add button:hover {
   background-color: #509a33;
    
}
.section_Hotproducts_content-add button:hover ion-icon{
    opacity: 1; 
    transform: translateX(0);
}
/*----------title----------------*/

.section_title-1{
    margin: 50px auto;
    display: flex;
    width: 100%;
}
/* .section_title-1 div{   
    width: 25%;
} */
.section_title-1--imgleft{
    background: url('../../fonts/img/anh1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    /* tu dong chiem het cho con trong */
    flex: 1;
}
.section_title-1--img-righ{
    background: url('../../fonts/img/anh2.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    /* tu dong chiem het cho con trong */
    flex: 1;
}
.section_title-1--title-1{
    padding: 45px;
    background: rgb(235, 246, 224);
    flex-basis: 25%;
    flex-shrink: 0;
}

.section_title-1--title-1 h2{
    font-weight: 700;
    font-size: 28px;
}

.section_title-1--title-1 p{
    margin: 25px auto;
    font-size: 18px;
    line-height: 1.5
  
}
.section_title-1--title-1 button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 150px;
    border-radius: 35px;
    font-size: 17px;
    color: white;
    border: 0px none  #4c9a31;
    font-weight: normal;
    background-image: linear-gradient(45deg, #197c36, #2d920a);
    transition: background-color 0.3s, color 0.3s;
}
.section_title-1--title-1 ion-icon{
    opacity: 0; 
    transform: translateX(3px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.section_title-1--title-1 button span{
    transform: translateX(0px);
    
    transition:  transform 0.3s ease;
}
.section_title-1--title-1 button:hover span{
    transform: translateX(-10px);
    transition:  transform 0.3s ease;
    
}
.section_title-1--title-1 button:hover {
   background-color: #509a33;
    
}
.section_title-1--title-1 button:hover ion-icon{
    opacity: 1; 
    transform: translateX(0);
}
.backgroud{
    background:  url('../../fonts/img/backgroud.jpg') ;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;

    background-color: rgb(218, 238, 198);
}
.section_title-2{
    width: 100%;
    margin: auto;

    /* border: 1px solid rgb(0, 0, 0); */
    background-image: url('../../fonts/img/backgroud.2jpg.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}


/*------------------------------ tin tuc ------------------------------*/

.section_title-2--content{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.chaid_img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    height: 230px;
   

}
.chaid_img img {
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: transform 0.3s ease;
   
}
.chaid_img:hover img{
    transform: scale(1.1);
}
.section_title-2--content-chaid{
    width: 28%;
    height: 500px;
    box-shadow: 5px 5px 20px #1d1d1d12;
    border-radius: 10px;
    border: 1px solid #00000012;
}
.section_title-2--content-chaid h5{

    padding: 10px 20px
}
.section_title-2--content-chaid h3:hover{

    color: #2d920a;
}
.section_title-2--content-chaid span{

    margin: 30px 20px;
    color: #8b8b8a;
}
.section_title-2--content-chaid p{

    padding: 10px 20px
}

/*================== sản phẩm ==============*/

.product_title{
    width: 80%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    margin: 50px auto;
}
.span_trangchu{
    color: #8b8b8a;
}
.span_cuahang{
    font-weight: 600;
}
.product_title_2 select {
    width: 200px;
    height: 30px;
    border:  1px solid #c5c5c5;
    margin-left: 20px;
    outline:  1px solid #d9d9d9;
}
.btn_next {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.btn_next button{
    margin: 10px ;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#back_1, #number2_1 , #next_3{
    opacity: 0;
}
/*===============================chi tiết */
.tipTab{
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
}
.tipTab_container-1{
    /* background-color: #000; */
    height: 750px;
    display: flex;
    margin-bottom: 10px;
}
.tipTab_container{
    width: 70%;
    /* border: 2px solid #000; */
    /* display: flex; */
    margin-right: 70px;
    
}
.tipTab_container-img{
    width: 50%;
    /* border: 2px solid #000; */
    position: relative;
    height: 400px;

}
.tipTab_container-conten{
    width: 50%;
    /* border: 2px solid #000; */
    height: 400px;
    color: #000;
}



.hover_img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hover_img img {
    max-width: 100%;
    max-height: 100%;
    
}
.hover_img:hover .btn_left ion-icon{
    opacity: 1;
    transform: translateX(0); 
}
.hover_img:hover .btn_righ ion-icon{
    opacity: 1;
    transform: translateX(0);
}
.hover_img button{
    position: absolute;
}

.btn_left{
    width: 100px;
    background: none;
    border: none;
    left: 10px;
    top: 20px;
    align-items: center;
    height: 100%;
    z-index: 2;
  
}
.btn_left ion-icon{
    width: 40px;
    height: 40px;
    opacity: 0;
    transform: translateX(10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;

}
.btn_righ ion-icon{
    width: 40px;
    height: 40px;
    opacity: 0;
    transform: translateX(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;

}
.btn_righ{
    width: 100px;
    background: none;
    border: none;
    right: 10px;
    top: 20px;
    align-items: center;
    height: 100%;
}
.tipTab_container-img--chaid{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.chaild_img-1, .chaild_img-2, .chaild_img-3,.chaild_img-4{
    width: 20%;
    border: 1px solid #bdbdbd;
}


.tipTab_container-conten-4 ul {
    list-style:disc;
    padding: 20px  ;
}
.tipTab_container-conten-4 ul li {
    
    padding-bottom:  20px ;
}
.tipTab_container-conten-1{
    color: rgb(102,102,102,.7);
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 20px;
}
.tipTab_container-conten-2 h2{
    margin: 20px 0px;
    font-weight: bold;

}
.tipTab_container-conten-2{
    margin-bottom: 20px;
}
.tipTab_container-conten-2 bdi{
    font-weight: bold;
    font-size: 20px;
    color: #2d920a;
    unicode-bidi: isolate;
}
.tipTab_container-conten-2 span{
    font-size: 1.5rem;
    color: #2d920a;
    font-weight: bold;
}
.tipTab_container-conten-3{
    line-height: 1.5;
}
.tipTab_container-conten-5{
    background: #fff9eb;
    line-height: 1.5;
    padding: 10px;
    border-left: 5px solid #ffbd00;
}
.tipTab_container-conten-6{
    margin-top: 10px;
    border-bottom: 1px dashed #ddd ;
    border-top: 1px dashed #ddd ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tipTab_container-2{
    position: relative;
    /* height: 1000px; */
    /* background-color: #000; */
}
.tipTab_container-2-chald-1{
    position: absolute;
    z-index: 3;
    top:-49px;
    color: #509a33;
    font-weight: 600;
    border-top: 2px solid #509a33;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: none;
    background-color: #fafafa;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.tipTab_container-2-chald-2{
    position: relative;
    background-color: #fafafa;
    padding: 40px;
    width: 100%;
    /* height: 10000px; */
    border: 1px solid #ddd;
}
.tipTab_container-2-chald-2 p {
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 20px auto;
}
.tipTab_container-2-chald-2 h3{
    font-weight: 600;
    margin: 20px 0px;
}
.tipTab_container-2-chald-2 ul {
    padding-left: 15px;
}
.tipTab-2{
    width: 80%;
    margin: auto;
}
.tipTab-2 h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.tipTab-sanphamtuongtu ul {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}

/* chuyển ảnh :)))))  */
.slideLeft {

    display: none;
    animation: slideLeft 0.5s ease;
}

.slideRight {
    display: block;
    animation: slideRight 0.5s ease-in;
}
.chaild_img-1,.chaild_img-2,.chaild_img-3,.chaild_img-4{
    opacity: 0.5;
    border: none;
    overflow: hidden;
    
}
.boder{
    border: 1px solid #bdbdbd;
    opacity: 1;

}
.chaild_img-2:hover{
    border: 1px solid #bdbdbd;
    opacity: 1;
    
}
.chaild_img-3:hover{
    border: 1px solid #bdbdbd;
    opacity: 1;
}
.chaild_img-4:hover{
    border: 1px solid #bdbdbd;
    opacity: 1;
}
.chaild_img-1:hover {
    border: 1px solid #bdbdbd;
   
    opacity: 1;
}
.chaild_img-2:hover img{
   transform: translateY(-5px);
    
}
.chaild_img-3:hover img{
    transform: translateY(-5px);
}
.chaild_img-4:hover img{
    transform: translateY(-5px);
}
.chaild_img-1:hover img {
    transform: translateY(-5px);
}

#mainImg4 , #mainImg2 ,#mainImg3,#maiImg1{

    transform: translateY(0);
    transition: transform 0.5s ease-in;
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
        /* opacity: 0; */
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100px);
        /* opacity: 0; */
    }
    to {
        transform: translateX(0);
    }
}

