*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */
.btn-move-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color_green);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 50;
}
.sort_infor{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color_green);
    color: #fff;
    display: flex;

}
.sort_infor a{
    color: #fff;
}
.sort_infor ion-icon{
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.sort_infor>p,.sort_infor>div{
    flex-shrink: 0;
}


.sort_infor--right ion-idealeron {
    margin-left: 20px;
    padding-left: 10px;
}
.sort_infor--right ion-icon:not(:first-child){
    border-left: 1px solid #73AE5C;
}
.sort_infor--right div a ion-icon{
    border-left: 1px solid #73AE5C;
}

.sort_infor--right{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.sort_infor--right-cart{
    flex-shrink: 0;
}
.cart-dropdown{
    display: none;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    right: 10px;
}
.cart-dropdown a p:hover{
    color: var(--color_green);
}
.cart-dropdown-item {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.cart-dropdown-item__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.cart-dropdown-item__name{
    color: #000;
}
.cart-dropdown-item__price{
color: var(--color_green);
}
.btn-go-to-cart{
    color: #fff;
    padding: 10px 15px;
    background-color:#73AE5C ;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}
.cart-dropdown__temp-total{
    color: #000;
    text-align: center;
    margin: 10px 0;
}

/* header */

.header{
    display: block;
    position: static;

    padding-top: 10px ;
    border-bottom: 1px solid #eee;
    box-shadow: 4px 4px 15px #00000012;

}
.header__top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 0 100px;
}
.header__top ion-icon{
    color: var(--color_green);
}
.icon_big-size{
    font-size: 30px;
    margin-right:  10px;
    border:1px solid var(--color_green);
    padding: 5px;
    border-radius:50% ;
}
.header__nav {
    background-color: #fff;
    padding: 15px;
    transition: max-height 0.3s ease-out;
    padding: 15px 70px;
    z-index: 100;

}
.header__nav ul li div{
    display: none;
}
.header__nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.header__nav ul li a{
    text-decoration: none ;
    color: black;
    font-size: 17.6px;
}
.header__nav ul li a:hover{
    background-color: #fff;
    color: var(--color_green);
}

.header__nav.sticky {
    position: fixed;
    top: 0;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    width: 100%;
}
.menu-icon{
    display: none;
    font-size: 30px;
    margin-right: 15px;
}

.header__top--logo{
    width: 240px;
    height: 68px;
}
.header__top--search{
    border: 1px solid #eee;
    border-radius: 20px  ;
    width: 400px;
    display: flex  ;
    justify-content: space-between;
    background-color: #fff;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.header__top--search ion-icon{
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 20px;
    margin: 5px 10px 0px 5px;
}
.header__top--search input{
    flex: 1;
    border: none;
    padding: 0;
}
.header__top--search input:focus{
    outline: none;
}
.header__top--hotline{
    display: flex;
    flex-shrink: 0;
    margin-right: 15px;
}
.header__top--hotline-content{
    display: flex;
    flex-direction: column;
}
.header__top--hotline-content h3{

}
.header__top--user{
    display: flex;
    flex-shrink: 0;
}
.header__top--user a{
    text-decoration: none;
    color: #000;

}
#sort-infor-cart-2{
    display: none;
}

#sort-infor-cart-2 a ion-icon{

    font-size: 30px;
}

#login:hover{
    color: var(--color_green);
}
#regist:hover{
    color: var(--color_green);
}

/* footer */
.footer{
    display: flex;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 20px 30px;
    justify-content: space-between;
    line-height: 24.32px;
}
.footer__item{
    display: flex;
    flex-direction: column;
    width: calc(calc(100% / 4) - 25px);
    margin-left: 25px;
    margin: 10px 0;
}
.footer__item span{
    font-weight: bold;
}
.footer__item a{
    text-decoration: none;
    color: black;
    
}
.footer__item a:hover{
    color: var(--color_green);

}
.footer__item--logo{
    width: 100%
}
.footer__item--hotline{
    display: flex;
    border: 1px solid var(--color_green);
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    align-items: center;
}

.footer__item--hotline-content{
    display: flex;
    flex-direction: column;
}
.footer__item--hotline ion-icon{
    font-size: 40px;
}
.footer_coppyright{
    background-color:var(--color_green) ;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tab{
    box-sizing: border-box;
    width: 100%;
}

/* intro tab */ 

.intro-container{
    padding: 20px 70px 40px 70px;
    width: 100%;
    box-sizing: border-box;
}

.intro-left{
    margin-right: 20px;
    width: calc(100% * calc(3 / 4));
    line-height: 25.6px;
}
.intro-left ul{
    margin-left: 20px;
}

.bold{
    font-weight: bold;
}
.intro-right{
    width: calc(100% * calc(1 / 4));
}
.intro-right__item{
    margin-bottom: 25px;
    
}
.intro-right__item ul{
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}
.intro-right__item ul li{
    padding: 10px;
    border-bottom: 1px solid #ececec;
}
.intro-right__item--title{
    background-color: var(--color_green);
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}
.intro-right__item--right a{
    text-decoration: none;
    color: black;
    
}
.intro-right__item--right a:hover{
    color: #80be0d;

}

.intro-right__item--left{

}
.img-circle{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.intro-right__item--right{
    margin-left: 10px;
}
.span-price{
    font-weight: 700;
    color: var(--color_green);
    margin-top: 5px;
}

/* dealer */
.dealer-tab{
    width: 100%;

}

.dealer-intro{
    height: 300px;
    background-image: url('../../fonts/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: auto 300px;
    width: 100%;
    display: block;
    color: #fff;
    padding-top: 40px;
    padding-left: 70px;
}

.section-1{
    padding: 50px 70px;
}
.section-1__img{
    width: 570px;
    height: 467px;
}
.section-1__content{
    line-height: 25.6px;
    margin-left: 50px;
}

.section-2{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color_green);
    padding: 20px 75px;

}
.section-2 h2{
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    margin: 30px 0;
}

.section-2__cards{
    width: 100%;
    /* --spacing: 20px; */
    /* margin-left: calc(-1 * var(--spacing)); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    box-sizing: border-box;
    margin-top: 30px ;
    margin-bottom: 60px;
}

.section-2__card{
    width:270px;
    margin-bottom: 15px;
    /* margin-left: var(--spacing); */
}
.section-2__card--img{
    width: 270px;
    height: 170px;
    border-radius :20px; 
    object-fit: cover;
    margin-bottom: 10px;
}
.section-2__card--desc{
    text-align: center;
    color: #fff;
}   
.section-2 p{
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.section-3{
    height: 700px;
    padding: 40px 60px;  
    align-items: center;
}
.section-3__img{
    height: 570px;
    width: 570px;
    margin-right: 60px;
}
.section-3__form{
    line-height: 25.6px;
}
.section-3__form--title{
    font-size: 20px;
}
.section-3__form input{
    margin-bottom: 15px;
    height: 38px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #000;
}
.section-3__form textarea{
    margin-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    padding-left: 10px;
}
.section-3__form ul{
    margin-left: 30px;
    margin-bottom: 15px;
}

.btn-submit{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: none;
    background-color: var(--color_green);
}

/* cartTab */
.cartTab{
    width: 100%;
    padding: 30px 70px 70px 70px;
}

.cartTab-container{
    width: 100%;
    display: flex;

}
.cart-list{
    
    width: 60%;
    padding-right: 30px;
    border-right: 1px solid #eee;
}
.cart-items tr[class="cart-item"]{
    /* background-color: yellow */
    padding: 15px 0;
}
.cart-items {
    width: 100%;
}
.cart-items img{
    height: 76px;
    width: 76px;
}

.delete-icon{
    font-size: 30px; 
    flex-shrink: 0;
}
.cart-item td{
    text-align: center;
    border-bottom: 1px solid #eee;
}
.cart-item__label{
    text-align: left  ;

}
.cart-item__label th{
    padding: 10px 5px;
    border-bottom: 3px solid #eee;
}
.cart-item td[class="product-infor"]{
    display: flex;
    align-items: center;

    height: 108px;
}
.cart-item td[class="product-infor"] a{
    text-decoration: none;
    color: var(--color_green);
}
.product-infor img{
    margin-left: 10px;
    margin-right: 15px;
    background-color: red;
}
.summary-section{
    width: 40%;
    padding-top: 13px;
    /* background-color: yellow; */
    padding-left: 30px;
    
}

.fee-row{
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.price{

}
.btn-create-bill{
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: #80BE0D;
    text-align: center;
    margin-bottom: 15px;
}
.enter-voucher input{
    height: 40px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
}
.btn-apply-voucher{
    border: 1px solid #eee;
    text-transform: uppercase;
    padding: 10px 0;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}
.label-underline{
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.label-voucher ion-icon{
    margin-right: 10px;
}

/* bill tab */
.billTab{
    width: 100%;    padding: 30px 70px 70px 70px;
    
}
.bill-user-infor{
    display: flex;
    width: 50%;
    padding-top: 20px;
    border-top: 2px solid #eee;
    flex-direction: column;
    margin-right: 20px;
}
.bill-user-infor h2{
    margin-bottom: 15px;
}
.bill-user-infor input[type="text"]{
    display: inline-block;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
}
.bill-user-infor input:focus {
    outline: none;
}
.bill-user-infor input[type="text"]{
    display: inline-block;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #eee;
    padding-left: 10px;
}
.bill-user-infor input[type="checkbox"]{
    margin-right: 10px;
}
.bill-user-cart{
    width: 50%;
    padding: 20px;
    border: 2px solid var(--color_green);
}
.bill-user-cart__label{
    padding: 10px 0; 
    margin: 10px;
    border-bottom: 3px solid #eee;
    justify-content: space-between;
}

.bill-user-cart__item{
    padding: 10px 0; 
    margin: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.bill-user-cart__temp-pay{
    padding: 10px 0 ; 
    margin: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.bill-user-cart__final-pay{

}
.btn-order{
    color: #fff;
    padding: 10px 15px;
    background-color:#80be0d ;
    border: none;
    cursor: pointer;
    text-align: center;
}