* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
body {
	font-family: "Roboto", sans-serif;
	--color_green: #509a33;
	width: 100%;
}
a {
	cursor: pointer;
}
.row {
	display: flex;
}
.col {
	display: flex;
	flex-direction: column;
}
