*{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
body{
  --color_green:#509A33;

}
a{
  cursor: pointer; 
}
.row{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}