label {
	font-weight: bold;
}

.event {
	margin-top: 30px;
	display: flex;
	width: 80%;

	margin-bottom: 300px;
}

.colT {
	margin-left: 40px;
	width: 33.33%;
}

.news {
	width: 380px;
	height: 213px;
}

.news img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: box-shadow 0.3s; /* Tạo hiệu ứng chuyển đổi cho box-shadow trong 0.3 giây */
}
.news img:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Đổi giá trị box-shadow khi di chuột vào */
}
.event .news .titleT {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 19px;
	font-weight: bold;
}

.event .news .titleT:hover {
	color: var(--color_green);
}

.event .news .p {
	font-size: 15px;
	margin: 1.44px 0px;
	text-align: left;
}

/* =====================================  post*/
.phra1 p {
	display: block;
	line-height: 25.6px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.entry-title {
	font-size: 28px;
	font-weight: bold;

	line-height: 35.36px;

	margin: 0px 0px 13.6px;
}

.date {
	margin-bottom: 10px;
	color: #808080;
	font-size: 14px;
	line-height: 16.6px;
}

.intro-left col p {
	font-size: 21px;
}

.phra1 h2 {
	margin-top: 10px;
}

.redirect a {
	color: var(--color_green);
}

.form-group {
	margin-bottom: 10px;
}

.form-control {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.btn-primary {
	background-color: var(--color_green);
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
}

.comment-form {
	padding: 20px;
	background-color: rgba(204, 204, 204, 0.149);
}

.comment-form h3 {
	margin-bottom: 20px;
}

.comment-form p {
	margin-bottom: 10px;
}

.group {
	width: 100%;
	height: 100%;
	display: flex;
	/* các phần tử trong group bắt đầu sát lề */
	align-items: flex-start;
}

.group > div {
	width: 33.33%;
	margin-right: 35px;
}

/* =====================contact */

.bgimg {
	width: 100%;
	height: 100%;
	background-image: url(/fonts/img/bg.jpg);
	background-size: cover;
	margin-bottom: 40px;
}

.title {
	margin-left: 30px;
	width: 100%;
	padding: 50px;
}

.contact {
	/* margin 2 bên */
	margin: 0px 10%;
	height: 100%;
	padding: 5%;

	display: flex;
	justify-content: center;
}

.title > * {
	color: white;
	/* margin trên và dưới 15px */
	margin: 15px 0px;
}

/* .info {
	width: 50%;
} */

.ico {
	margin-right: 10px;
	size: 30px;
	padding: 10px;
	border-radius: 50%;
	background-color: rgba(109, 171, 16, 0.298);
}

.info > div {
	display: flex;
}

.info > div > * {
	margin: 10px 5px;
}

.info > p {
	margin: 20px 0px;
}

/* form */

.form-contact {
	padding: 20px;
	background-color: rgba(115, 170, 101, 0.253);
	border-radius: 4px;
	width: 50%;
}

.form-contact h3 {
	margin-bottom: 20px;
	text-align: center;
}

.form-contact form > * {
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
}

.group-form > label {
	padding: 10px 0px;
}

.group-form > input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.popup-content {
    background: #fff;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
/* ===================register, login */
