<footer>
  <section class="footer">
    <div class="footer-container">
      <div class="footer-top">
        <div class="footer-contact">
          <h1>Quán ăn ngon</h1>
          <p class="hotline">HOTLINE: 1900 0098</p>
          <i class="fa-regular fa-envelope"></i><span>lienhe@quananngon</span><br>
          <i class="fa-solid fa-florin-sign"></i><span>Fanpage: www.facebook.com/giakhanhhotpot</span><br>
          <i class="fa-solid fa-globe"></i><span> Website: www.quananngon.vn</span><br>
          <i class="fa-regular fa-clock"></i><span>Giờ mở cửa: 10:00 - 21:30</span><br>
        </div>
        <div class="footer-link-web">
          <h1>LIÊN KẾT NHANH</h1>
          <ul>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Thực đơn</a></li>
            <li><a href="">Khuyến mãi</a></li>
            <li><a href="">Đặt bàn</a></li>
          </ul>
        </div>
        <div class="social">
          <h1>FACEBOOK</h1>
          <a href="">Quán ăn ngon</a>
        </div>
      </div>
      <div class="footer-bottom">
        <h2>HỆ THỐNG QUÁN ĂN NGON</h2>
        <div class="chain-store">
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          <div class="store-address">
            <span><strong>Cơ sở:</strong></span>
            <span>67 Vũ Phạm Hàm, Yên Hòa, Cầu Giấy</span>
            <p>Hotline: 02437868418 / 0773611118</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</footer>